@import "partials/_recipes";

h1 {
  color: #17a2b8;
}

 .container {
  padding-top: 6em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
 }

 .spinner {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
 }